.genre{
    font-weight: bolder;
    font-style: italic;
    color: brown;
    font-size: 35px;
    position: relative;
}
.genre1{
    font-weight: bolder;
    font-style: italic;
    color: red;
    font-size: 20px;
}
.genre3{
    font-weight: bolder;
    font-style: italic;
    color: darkgray;
    font-size: 20px;
}
.genre4{
    font-weight: bolder;
    font-style: italic;
    color: gold;
    font-size: 20px;
}
.genre5{
    font-weight: bolder;
    font-style: italic;
    color: blue;
    font-size: 20px;
}
.genre6{
    font-weight: bolder;
    font-style: italic;
    color: green;
    font-size: 20px;
}
.harry{
    width: 600px;
    float: left;
    border: 1cm;

}
.Hogwarts{
    width: 300px;
    float: left;
    margin-top: 5cm ;
    margin-right: 10 cm;
}
.sample{
    font-size: 30px;
    position: right;
    line-height: 7px;
    line-break: strict;
    

}
.ger{
    width: 300px;
    float: left;
    margin-top: 5cm ;
    margin-right: 10 cm;
}
.Twilight{
    width: 300px;
    float: left;
    margin-top: 5cm ;
    margin-right: 10 cm;
}
.Song{
    width: 300px;
    float: left;
    margin-top: 5cm ;
    margin-right: 10 cm;
}
.Heroes{
    width: 300px;
    float: left;
    margin-top: 5cm ;
    margin-right: 10 cm;
}
.IND{
    width: 300px;
    float: left;
    margin-top: 5cm ;
    margin-right: 10 cm;
}
.DAN{
    width: 300px;
    float: left;
    margin-top: 5cm ;
    margin-right: 10 cm;
}
.Percy{
    width: 300px;
    float: left;
    margin-top: 5cm ;
    margin-right: 10 cm;
}
.harrppotter{
    text-align: left;
    background-color: aqua;
    margin-bottom: 7cm;
}