.genre{ /* harry potter heading*/
    font-weight: bolder;
    font-style: italic;
    color: brown;
    font-size: 35px;
}
.genre1{/*hogwarts hedaing*/
    font-weight: bolder;
    font-style: italic;
    color: red;
    font-size: 20px;
}
.genre3{/*game of thrones*/
    font-weight: bolder;
    font-style: italic;
    color: darkgray;
    font-size: 20px;
}
.genre4{/*percy jackson*/
    font-weight: bolder;
    font-style: italic;
    color: gold;
    font-size: 20px;
}
.genre5{/*heroes of olympus*/
    font-weight: bolder;
    font-style: italic;
    color: blue;
    font-size: 20px;
}
.genre6{/*geronimo stilton*/
    font-weight: bolder;
    font-style: italic;
    color: green;
    font-size: 20px;
}
.harry{/*harry potter picture*/
    width: 600px;
    border: 1cm;
    text-align: left;
    float:left;

}
.Hogwarts{/*hogwarts picture*/
    width: 300px;
    border: 1cm;
    float:left;
    align-items:end;
    float: left;
    margin-bottom: 2cm;
}
.Ger{/*geronimo stilton pic*/
    width: 350px;
    text-align: left;
    float: center;
    align-items: start;
}
.Twilight{/*twilight pic*/
    width: 300px;
    border: 1cm;
    text-align: left;
    float: left;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-bottom: 3cm;
}
.Song{/*game of thrones pic*/
    width: 600px;
    border: 1cm;
    text-align: left;
    float:left;
    margin-right: 4cm;
} 
.Heroes{/*heroes of olympus pic*/
    width: 300px;
    border: 1cm;
    text-align: left;
    margin-left: 2cm;
    margin-right: 2cm;
}
.IND{/*indian mythology pic*/
    width: 550px;
    border: 1cm;
    margin-bottom: 4cm;
}
.DAN{/*dan brown novel pic*/
    width: 400px;
    border: 1cm;
    text-align: left;
    margin-bottom: 2cm;

}
.Percy{/*percy jackson pic*/
    width: 450px;
    border: 1cm;
    float:left;
    align-items:end;
    float: left;
    margin-bottom: 2cm;
}
.harrypotter{
    text-align: center;
    margin-bottom: 7cm;
    align-items: start;
    border-color: black;
}
.Library{
    text-align: center;
    align-items: start;
    border-color: black;
    border-width: 4px;
    float:left;
    margin-block-end: auto;
}
.twil{
    text-align: center;
    align-items:start;
    border-color: black;
    border-radius: 5px;
    float: left;
}
.Ice{
    text-align: left;
    margin-bottom: 7cm;
    align-items:start;
    border-color: black;
    border-radius: 5px;
}
.Jackson{
    text-align: left;
    margin-bottom: 7cm;
    align-items:start;
    border-color: black;
    border-radius: 5px;
    float: left;
}
.Olympus{
    text-align: left;
    margin-bottom: 7cm;
    align-items:start;
    border-color: black;
    border-radius: 5px;
    float: left;
}
.Brown{
    text-align: center;
    align-items:start;
    border-color: black;
    border-radius: 5px;
    margin-bottom: 4cm;
    float: inline-start;
}
.stil{
    text-align: center;
    align-items:start;
}
.Olympus{
    text-align: left;
    margin-bottom: 7cm;
    align-items:start;
    border-color: black;
    border-radius: 5px;
    float: left;
}
.myth{
    text-align: left;
    margin-bottom: 7cm;
    align-items:start;
    border-color: black;
    border-radius: 5px;
    float: left;
}
.Fire{
    font-size: 20px;
    line-height: 1cm;
}
