.genre{ /* harry potter heading*/
    font-weight: bolder;
    font-style: italic;
    color: brown;
    font-size: 35px;
}
.genre1{/*hogwarts hedaing*/
    font-weight: bolder;
    font-style: italic;
    color: red;
    font-size: 20px;
}
.genre3{/*game of thrones*/
    font-weight: bolder;
    font-style: italic;
    color: darkgray;
    font-size: 20px;
}
.genre4{/*percy jackson*/
    font-weight: bolder;
    font-style: italic;
    color: gold;
    font-size: 20px;
}
.genre5{/*heroes of olympus*/
    font-weight: bolder;
    font-style: italic;
    color: blue;
    font-size: 20px;
}
.genre6{/*geronimo stilton*/
    font-weight: bolder;
    font-style: italic;
    color: green;
    font-size: 20px;
}
.harry {/* harry potter pic*/
    width: 500px;
    float:left;
}
.harrypotter{/* harry potter division*/
    text-align: center;
    vertical-align: middle;
    width: 100%;
    padding: 80px;
    box-sizing:border-box;
    border-color: black;
    border-width: 3px;
    background-origin: padding-box;
    border-style: dotted;
    margin-bottom: 2cm;
    margin-left: 1cm;
    margin-right: 1cm;
    }
.Library{/* hogwarts division*/ 
    text-align: center;
    vertical-align: middle;
    width: 100%;
    padding: 100px;
    box-sizing: border-box;
    box-sizing: border-box;
    border-color: black;
    border-spacing: 2cm;
    border-bottom-color: black;
    border-style: dashed;
    overflow: hidden;
    margin-bottom: 2cm;
    margin-left: 1cm;
    margin-right: 1cm;
}
.Hogwarts{/*hogwarts picture*/
    float: left;
    width: 300px;
}
.twil{
    /*twilight division*/
    text-align: center;
    vertical-align: middle;
    width: 100%;
    padding: 100px;
    box-sizing: border-box;
    border-color: black;
    border-spacing: 2cm;
    border-bottom-color: black;
    border-style: dashed;
    object-fit:fill;
    overflow: hidden;
    margin-bottom: 2cm;
    margin-left: 1cm;
    margin-right: 1cm;
}
.Twilight{
    /* twilight image*/
    width: 250px;
    float: left;
}
.myth{
    /*Mythology division*/
    text-align: center;
    vertical-align: middle;
    width: 100%;
    padding: 100px;
    box-sizing: border-box;
    box-sizing: border-box;
    border-color: black;
    border-spacing: 2cm;
    border-bottom-color: black;
    border-style: dashed;
    overflow:scroll;
    margin-bottom: 2cm;
    margin-left: 1cm;
    margin-right: 1cm;
}
.IND{
    /* Mythology picture*/
    float: left;
    width: 400px;
}
.Ice{
    /* GOT division*/
    text-align: center;
    vertical-align: middle;
    width: 100%;
    padding: 100px;
    box-sizing: border-box;
    border-color: black;
    border-spacing: 2cm;
    border-bottom-color: black;
    border-style: dashed;
    overflow: hidden;
    margin-bottom: 2cm;
    margin-left: 1cm;
    margin-right: 1cm;
}
.Song{
    /*Got Picture*/
    float: left;
    width: 400px;
}
.Jackson{
    /*Percy Jackson Division*/
    text-align: center;
    vertical-align: middle;
    width: 100%;
    padding: 100px;
    box-sizing: border-box;
    border-color: black;
    border-spacing: 2cm;
    border-bottom-color: black;
    border-style: dashed;
    overflow: hidden;
    margin-bottom: 2cm;
    margin-left: 1cm;
    margin-right: 1cm;
}
.Percy{
    /*Percy Jackson image*/
    float: left;
    width: 400px;
}
.Olympus{
    /* Heroes division*/
    text-align: center;
    vertical-align: middle;
    width: 100%;
    padding: 100px;
    box-sizing: border-box;
    border-color: black;
    border-spacing: 2cm;
    border-bottom-color: black;
    border-style: dashed;
    overflow: hidden;
    margin-bottom: 2cm;
    margin-left: 1cm;
    margin-right: 1cm;
}
.Heroes{
    /* Heroes Image*/
    float: left;
    width: 300px;
}
.brown{
    /* Dan brown division*/
    text-align: center;
    vertical-align: middle;
    width: 100%;
    padding: 100px;
    box-sizing: border-box;
    box-sizing: border-box;
    border-color: black;
    border-spacing: 2cm;
    border-bottom-color: black;
    border-style: dashed;
    overflow: hidden;
    margin-bottom: 2cm;
    margin-left: 1cm;
    margin-right: 1cm;
}
.Dan{
    /* Dan Brown Image*/
    float: left;
    width: 400px;
}
.stil{
    /*geronimo division*/
    text-align: center;
    vertical-align: middle;
    width: 100%;
    padding: 100px;
    box-sizing: border-box;
    box-sizing: border-box;
    border-color: black;
    border-spacing: 2cm;
    border-bottom-color: black;
    border-style: dashed;
    overflow: hidden;
    margin-bottom: 2cm;
    margin-left: 1cm;
    margin-right: 1cm;
}
.ger{
    /* geronimo image*/
    float: left;
    width: 250px;
}
.head{
    /* HEading*/
    border-color: black;
    background-color: aquamarine;
    border-style: double;
    border-width: 5px;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
}