.Beast{ /*beast division*/
    padding: 100px;
    box-sizing: border-box;
    text-align: center;
    border-style: groove;
    border-color: black;
    border-width: 3px;
    overflow: hidden;
    vertical-align: middle;
}
.h1{
    font-weight: bold ;
    color: green;
    font-size: large;
}
.img1{
    width: 300px;
    float:left;
}
.Beedle{
    padding: 100px;
    box-sizing: border-box;
    text-align: center;
    border-style: groove;
    border-color: black;
    border-width: 3px;
    overflow: hidden;
}
.h2{
    font-weight: bold ;
    color: red;
    font-size: large;
}
.img2{
    width: 300px;
}
.quid{
    padding: 100px;
    box-sizing: border-box;
    text-align: center;
    border-style: groove;
    border-color: black;
    border-width: 3px;
    overflow: hidden;
    vertical-align: middle;
}
.h3{
    font-weight: bold ;
    color: blue;
    font-size: large;
}
.img3{
    width: 300px;
    float:left;
}
.head1{
    /* HEading*/
    border-color: black;
    background-color: aquamarine;
    border-style: double;
    border-width: 5px;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
}